<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "KISW", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <%= link_to 'New Question', new_question_path , class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to "Raised Questions", questions_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    My Questions & Answers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "My Questions", questions_path(my_quesstion: true), class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "My Answers", questions_path(my_answer: true), class: "dropdown-item" %>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Purchase History</a>
            </li>
            <% if current_user.is_admin? %>
            <li class="nav-item">
                <%= link_to "Catagory", catagories_path, class: "nav-link" %>
            </li>
            <% end %>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Logout", destroy_user_session_path, method: 'delete', class: "dropdown-item" %>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Knowledge is Wealth</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="welcome-search' type=" search"
                    placeholder="Please tell us what you want to know?😊" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="welcome-btn' type=" submit">Create</button>
            </form>
        </div>
    </div>
</div>